language: php
dist: xenial
sudo: true
php:
  - '7.1'
  - '7.2'
  - '7.3'
  - nightly
matrix:
  allow_failures:
    - php: nightly
before_install:
  - sudo add-apt-repository ppa:ondrej/php -y
  - sudo apt-get -qq update
  - sudo apt-get install -y libsodium-dev
install:
  - printf "\n" | pecl install libsodium
  - composer install
script:
 - ./vendor/bin/phpunit
